.btn-nga-primary {
    border: 2px solid #10bcec;
    color: #fff;
    background-color: #10bcec;
  }

  .btn-nga {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    -webkit-border-radius: 0.125rem;
    border-radius: 0.125rem;
  }