<app-header
  [loginButtonText]="SeConnecter"
  [signUpButtonText]="Sinscrire"
></app-header>

<router-outlet></router-outlet>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <div class="container my-5">
    <div
      class="text-center text-muted text-bg-dark border border-dashed rounded-5"
    >
      <!-- <i
        class="fa-solid fa-circle-info"
        style="color: white; font-size: 75px; margin-top: 15px"
      ></i> -->
      <h1 class="text-white">Contactez nous !</h1>
      <p class="col-lg-6 mx-auto mb-4 text-white">
        N'hésitez pas à nous contacter par mail sur l'adresse mail suivante : 
        <a href="mailto:ProjetHTML@polyfolio.cv ">{{"ProjetHTMK@polyfolio.cv"}}</a>
      </p>
    </div>
  </div>
</div>
