<app-header
  [loginButtonText]="SeConnecter"
  [signUpButtonText]="Sinscrire"
></app-header>

<router-outlet></router-outlet>
<div class="mt-5 text-white mx-auto text-center">
  <h1 style="font-weight: bold">
    Créer un
    <span style="color: #10bcec">portfolio d'exception professionnel</span>
    gratuitement
  </h1>

  <p>
    Mettez en avant vos compétences et votre expérience avec un portfolio en
    ligne. PolyFolio <br />vous offre les outils pour créer un portfolio qui
    reflète qui vous êtes vraiment.
  </p>
  <div *ngIf="connecte; else elseBlock">
    <button
      class="btn btn-nga btn-nga-primary mb-4"
      style="font-weight: bold"
      (click)="nouveau()"
      type="submit"
    >
      Nouveau portfolio
    </button>
  </div>

  <ng-template #elseBlock>
    <img
      src="./../../assets/portfolio.png"
      alt="Description de l'image"
      width="1500"
    />
    <br />
    <br />
    <button
      class="btn btn-nga btn-nga-primary mb-4"
      style="font-weight: bold"
      routerLink="/login"
      type="submit"
    >
      Se connecter
    </button>
  </ng-template>
</div>

<div class="py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let portfolio of portfolios">
        <div class="card shadow-sm">
          <svg
            style="
              background-image: url('https://neoresid-prod.s3.amazonaws.com/media/articles/1580585802565.jpg');
              background-repeat: no-repeat;
              background-size: cover;
            "
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <!-- <title>Placeholder</title>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{portfolio.titre}}</text> -->
          </svg>
          <div class="card-body">
            <p class="card-text">
              {{ portfolio.titre }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  type="button"
                  class="btn btn-sm btn-outline-secondary"
                  href="/view?id={{ portfolio.id }}"
                >
                  Voir
                </a>
                <a
                  type="button"
                  class="btn btn-sm btn-outline-secondary"
                  href="/portfolio?id={{ portfolio.id }}"
                >
                  Editer
                </a>
              </div>
              <small class="text-body-secondary"></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
