<router-outlet></router-outlet>
<app-header></app-header>

<div class="container-fluid mb-5">
  <div class="row mb-5">
    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">
      <div class="nga-card">
        <h1 class="h5 card-header text-center py-4">
          <strong>Edition du portfolio</strong>
        </h1>
        <div class="card-body px-lg-5 pt-4">
          <form [formGroup]="portfolioForm" (ngSubmit)="portfolio()">
            <div class="form-row">
              <div class="col">
                <div class="md-form mb-2">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="titre"
                      id="titre"
                      placeholder=""
                    />
                    <label for="floatingInput">Titre</label>
                  </div>
                </div>

                <div class="md-form mb-2">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="contenu"
                      id="contenu"
                      placeholder=""
                    />
                    <label for="floatingInput">Contenu</label>
                  </div>
                </div>

                <div class="md-form mb-2">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="formation"
                      id="formation"
                      placeholder=""
                    />
                    <label for="floatingInput">Formations</label>
                  </div>
                </div>

                <div class="md-form mb-2">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="experience"
                      id="experience"
                      placeholder=""
                    />
                    <label for="floatingInput">Expérience</label>
                  </div>
                </div>

                <div class="md-form mb-2">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="projet"
                      id="projet"
                      placeholder=""
                    />
                    <label for="floatingInput">Projet</label>
                  </div>
                </div>

                <div class="md-form mb-2">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="langue"
                      id="langue"
                      placeholder=""
                    />
                    <label for="floatingInput">Langues</label>
                  </div>
                </div>

                <div class="md-form mb-2">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      formControlName="public"
                      id="public"
                    />
                    <label class="form-check-label" for="public">
                      Public
                    </label>
                  </div>
                </div>

                <button
                  class="w-100 nga-btn nga-btn-primary mb-4"
                  type="submit"
                >
                  Confirmer
                </button>
                <hr />
              </div>
            </div>
          </form>

          <form [formGroup]="portfolioForm" (ngSubmit)="image()">
            <div class="form-row">
              <div class="col">
                <div class="md-form mb-2">
                  <div class="form-floating">
                    <input
                      type="file"
                      class="form-control form-control-sm"
                      formControlName="image"
                      id="image"
                      (change)="handleFileInput($event.target)"
                      placeholder=""
                    />
                  </div>
                </div>

                <button
                  class="w-100 nga-btn nga-btn-primary mb-4"
                  type="submit"
                  routerLink="/"
                >
                  Confirmer
                </button>
                <hr />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
